body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #97357B;
  color: white;
  text-align: center;
}
.container-ordering {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-select {
  position: relative;
}
.custom-select input {
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background: white;
  border: none;
  font-weight: bold;
  color: #97357B;
}
.custom-select-dropdown {
  position: absolute;
  top: -2px;
  display: flex;
  gap: 5px;
  padding: 4px;
  border-radius: 30px;
  background-color: transparent;
  z-index: 9999;
}
.dropdown-position-large {
  left: -180px;
}
.dropdown-position-small {
  left: -275px;
}
.custom-select-dropdown div {
  padding: 4px 10px;
  background-color: white;
  color: #97357B;
  border-radius: 25px;
  cursor: pointer;
}
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
}
